<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yaka</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  {% assets filters="cssmin", output="gen/packed.css",
      "bootstrap/css/bootstrap.css",
      "css/override.css",
      "jquery/css/ui-lightness/jquery-ui-1.8.19.custom.css",
      "jquery/plugins/chosen.css",
      "jquery/plugins/jquery.tagbox.css",
      "css/holmes.css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/static/images/favicon.png">
  <!-- TODO: Later
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
  -->

  <script src="/static/jquery/js/jquery-1.7.2.min.js"></script>
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="/">Yaka</a>

      <!-- TODO: move to config -->
      {% set top_nav = [
              ("/crm/", "CRM"),
              ("/dm/", "DM"),
              ("/social/", "Social"),
              ("/reports/", "Reports"),
              ("/users/", "Users"),
              ("/users/groups/", "Groups"),
              ("/admin/", "Admin"),
              ("/help/", "Help"),
              ]
      %}
      <ul class="nav">
        {% for url, label in top_nav %}
        <li><a href="{{ url }}">{{ label }}</a></li>
        {% endfor %}
      </ul>

      <ul class="nav pull-right">
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img class="avatar-small" src="{{ g.user._url }}/mugshot?s=25">
            {{ g.user.name }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/users/{{g.user.uid}}">My profile</a></li>
            <li><a href="/users/{{g.user.uid}}">Edit profile</a></li> <!-- TODO -->
            <li><a href="/help/">Help</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-search pull-right" action="/search/">
        <input type="text" name="q" class="search-query" placeholder="Search" autocomplete="off" id="search-box">
        <ul class="dropdown-menu" id="live-search-results" style="width: 250px;"></ul>
      </form>
    </div>
  </div>
</div>


<div class="container">

  {% block container %}
  {% endblock %}

  <hr>

  <footer>
    <p>&copy; Yaka Project 2012</p>
  </footer>

</div>
<!--/.fluid-container-->

{% assets filters="closure_js", output="gen/packed.js",
    "bootstrap/js/bootstrap.js",
    "jquery/js/jquery-ui-1.8.19.custom.min.js",
    "jquery/plugins/jquery.dataTables.js",
    "jquery/plugins/chosen.jquery.min.js",
    "jquery/plugins/jquery.autoGrowInput.js",
    "jquery/plugins/jquery.tagBox.js",
    "jquery/plugins/jquery.collapse.js",
    "jquery/plugins/jquery.validate.min.js",
    "yaka/app.js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>
</html>

