{% if table %}
<script>
$(document).ready(function() {
  $('#{{ table_name }}').dataTable( {
    aoColumns: [
      { asSorting: [] },
      {% for i in range(0, columns|count) %}
      { asSorting: [ "asc", "desc" ] },
      {% endfor %}
    ],
    bFilter: false,
    bLengthChange: false
  });
} );
</script>

<form>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
       id="{{ table_name }}">
  <thead>
  <tr>
    <th width="1%"></th>
    {% for col in columns %}
    <th width="{{ col.width }}%">{{ col.name }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for line in table %}
    <tr>
      <td><input type="checkbox"></td>
      {% for cell in line %}
      <td>{{ cell }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    <th></th>
    {% for col in columns %}
      <th width="{{ col.width }}%">{{ col.name }}</th>
    {% endfor %}
  </tr>
  </tfoot>
</table>
</form>
{% else %}
No data. <a href="">Create new</a>.
{% endif %}

<div style="clear: both;"></div>