{% extends "crm/base.html" %}

{% block main %}

{{ rendered_entity }}

<div class="collapsable">

  {% for view in related_views %}
  <h3>{{ view.label }} ({{ view.size }})</h3>

  <div style="margin-bottom: 25px;">
  {{ view.rendered }}
  </div>
{% endfor %}

  <h3>Audit Log</h3>

  <div style="margin-bottom: 25px;">
  {% for entry in audit_entries %}
    <p>
    Type: {{ entry.type }}<br>
    By: {{ entry.user_id }}<br>
    {% for key, (old_value, new_value) in entry.changes.items() %}
      [{{ key }}] "{{ old_value }}" => "{{ new_value }}"<br>
    {% endfor %}
    </p>
  {% endfor %}
  </div>

</div>

{% endblock %}