{% extends "base.html" %}

{% from "macros.html" import m_audit_log, m_breadcrumbs, m_files_table %}

{% macro m_activity(entries) %}
{% endmacro %}

{% macro m_images(images) %}
{% endmacro %}

{% block container %}
  {{ m_breadcrumbs(breadcrumbs) }}

  <div class="header">
    <img class="avatar" src="{{ user._url }}/mugshot?s=140">

    <div class="info">
      <h2 class="title">{{ user.name }}</h2>

      <div class="job-title">{{ user.job_title }}</div>
    </div>
  </div>

  <ul class="nav nav-pills profile-nav">
    {% for tab in tabs %}
      {% if tab.id == active_tab_id %}
        <li class="active"><a href="{{ tab.link }}">{{ tab.label }}</a></li>
      {% else %}
        <li><a href="{{ tab.link }}">{{ tab.label }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if active_tab_id == 'activity' %}
    {{ m_activity(activity_entries) }}

  {% elif active_tab_id == 'documents' %}
    {{ m_files_table(documents) }}

  {% elif active_tab_id == 'images' %}
    <ul class="image-gallery">
      {% for image in images %}
        <li><a href="{{ image._url }}"><img src="{{ image._url }}/preview?s=100"></a></li>
      {% endfor %}
    </ul>
    <div style="clear: both"></div>
  {% endif %}

{% endblock %}