<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yaka</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <!--link href="css/bootstrap-responsive.css" rel="stylesheet"-->
  <link href="/static/css/override.css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">

  <!-- various jQuery plugins -->
  <script type="text/javascript" language="javascript" src="/static/jquery-ui/js/jquery-1.7.2.min.js"></script>

  <link type="text/css" href="/static/jquery-ui/css/ui-lightness/jquery-ui-1.8.19.custom.css" rel="stylesheet"/>
  <script type="text/javascript" src="/static/jquery-ui/js/jquery-ui-1.8.19.custom.min.js"></script>

  <style type="text/css" title="currentStyle">
    @import "/static/css/demo_page.css";
    @import "/static/css/header.css";
    @import "/static/css/demo_table.css";
  </style>
  <script type="text/javascript" language="javascript" src="/static/jquery-ui/plugins/jquery.dataTables.js"></script>

  <link type="text/css" href="/static/chosen/chosen.css" rel="stylesheet"/>
  <script type="text/javascript" language="javascript" src="/static/chosen/chosen.jquery.min.js"></script>

  <!-- our app -->
  <script type="text/javascript" language="javascript" src="/static/yaka/app.js"></script>

  <!-- DEBUG -->
  <link type="text/css" href="/static/css/holmes.css" rel="stylesheet"/>
</head>

<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="/">Yaka</a>

      <ul class="nav">
        <li><a href="/crm/">CRM</a></li>
        <li><a href="/ged/">GED</a></li>
        <li><a href="/rse/">RSE</a></li>

        <li><a href="/admin">Admin</a></li>
        <li><a href="/help">Help</a></li>
      </ul>

      <ul class="nav pull-right">
        <li id="fat-menu" class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.user.full_name }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/users/{{g.user.uid}}">My profile</a></li>
            <li><a href="/users/{{g.user.uid}}/edit">Edit profile</a></li>
            <li><a href="/help">Help</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Log out</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-search pull-right" action="/search">
        <input type="text" name="q" class="search-query" placeholder="Search" autocomplete="off" id="search-box">
        <ul class="dropdown-menu" id="live-search-results" style="width: 250px;"></ul>
      </form>
    </div>
  </div>
</div>


<div class="container">

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-block alert-{{category}}">
          <a class="close" data-dismiss="alert">&times;</a>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  {% block container %}
  {% endblock %}

  <hr>

  <footer>
    <p>&copy; Yaka Project 2012</p>
  </footer>

</div>
<!--/.fluid-container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/bootstrap/bootstrap.js"></script>
<script src="/static/bootstrap/bootstrap-dropdown.js"></script>
<script src="/static/bootstrap/bootstrap-alert.js"></script>
<script src="/static/bootstrap/bootstrap-button.js"></script>

<!--
<script src="/static/bootstrap/bootstrap-transition.js"></script>
<script src="/static/bootstrap/bootstrap-modal.js"></script>
<script src="/static/bootstrap/bootstrap-scrollspy.js"></script>
<script src="/static/bootstrap/bootstrap-tab.js"></script>
<script src="/static/bootstrap/bootstrap-tooltip.js"></script>
<script src="/static/bootstrap/bootstrap-popover.js"></script>
<script src="/static/bootstrap/bootstrap-collapse.js"></script>
<script src="/static/bootstrap/bootstrap-carousel.js"></script>
<script src="/static/bootstrap/bootstrap-typeahead.js"></script>
-->
<script type="text/javascript">
  $('.dropdown-toggle').dropdown();
  $(".chzn-select").chosen({allow_single_deselect: true});
  //$(".chzn-select-deselect").chosen({allow_single_deselect:true});
</script>

</body>
</html>
