{% macro m_audit_log(entries) %}
  <h3 class="main">Audit Log</h3>

  <div style="margin-bottom: 25px;">
    {% for entry in entries %}
      {% if entry.type == 1 %}
        <div>
          <img src="{{ entry.user._url }}/mugshot?s=16">
          <a href="{{ entry.user._url }}">{{ entry.user.name }}</a>
          made changes on {{ entry.happened_at.strftime('%Y-%m-%d %H:%M') }}
          <ul>
            {% for key, (old_value, new_value) in entry.changes.items() %}
              <li>
                {% if old_value %}
                  Field <b>{{ key }}</b> changed from <em>{{ old_value }}</em> to <em>{{ new_value }}</em>
                {% else %}
                  Field <b>{{ key }}</b> set to <em>{{ new_value }}</em>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% elif entry.type == 0 %}
        <div>
          <img src="{{ entry.user._url }}/mugshot?s=16">
          <a href="{{ entry.user._url }}">{{ entry.user.name }}</a>
          created this record on {{ entry.happened_at.strftime('%Y-%m-%d %H:%M') }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro m_breadcrumbs(breadcrumbs) %}
  <ul class="breadcrumb">
    {% for obj in breadcrumbs[0:-1] %}
      <li><a href="{{ obj.path }}">{{ obj.label }}</a>
        <span class="divider">/</span></li>
    {% endfor %}
    <li class="active"><strong>{{ breadcrumbs[-1].label }}</strong></li>
  </ul>
{% endmacro %}

{% macro m_recent_items(recent_items) %}
  {% if recent_items %}
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">
          Recent items
        </li>
        {% for item in recent_items %}
          <li>
            <a href="{{ item.url }}"><img src="/static/icons/{{ item.type }}-12.png"> {{ item.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro m_files_table(files, edit=True) %}
  {% if files %}
    <script>
      $(document).ready(function() {
        $('#files-table').dataTable({
          aoColumns:     [
            { asSorting: [] },
            { asSorting: [ "asc", "desc" ] },
            { asSorting: [ "asc", "desc" ] },
            { asSorting: [ "asc", "desc" ] }
          ],
          bFilter:       false,
          bLengthChange: false
        });
      });
    </script>

    <form style="margin-bottom: 0;">

      {% if edit %}
        <div class="btn-toolbar" style="margin-bottom: 0;">
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Select
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">All</a></li>
              <li><a href="">All</a></li>
              <!-- dropdown menu links -->
            </ul>
          </div>

          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i><span
                    class="caret"></span></a>
            <ul class="dropdown-menu" style="left: -300%;">
              <li><a href="#">All file types</a></li>
              <li><a href="#">Only documents</a></li>
              <li><a href="#">Only images</a></li>
              <li><a href="#">Only videos</a></li>
            </ul>
          </div>
          <div class="btn-group pull-right">
            <button class="btn">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
          </div>
        </div>
      {% endif %}

      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="files-table">
        <thead>
        <tr>
          <th width="1%"></th>
          <th width="50%">Title</th>
          <th width="29%">Owner</th>
          <th width="20%">Age</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
          <tr>
            <td><input type="checkbox"></td>
            <td><img src="{{ file.icon }}" style="vertical-align: middle;">
              <a href="{{ file.url }}">{{ file.name }}</a></td>
            <td>Stefane Fermigier</td>
            <td>0</td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Owner</th>
          <th>Age</th>
        </tr>
        </tfoot>
      </table>
    </form>
  {% else %}
    No data. <a href="">Create new</a>.
  {% endif %}

  <div style="clear: both;"></div>
{% endmacro %}

