<form action="{{ request.path }}" method="POST" class="form-horizontal">

  <div class="form-actions">
    <button type="submit" class="btn">Cancel</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>

  {% for panel in panels %}
    <legend>{{ panel.label }}</legend>

    <fieldset>
      {% for row in panel %}
        {% if row|count == 1 %}
          <div class="control-group">
            <label class="control-label" for="input-{{ row[0] }}">{{ row[0]|labelize }}</label>

            <div class="controls">
              <input type="text" class="input-xlarge" id="input-{{ row[0] }}" value="{{ get(row[0]) }}">
            </div>
          </div>
        {% else %}
          <div class="control-group">
            <label class="control-label" for="input-{{ row[0] }}">{{ row[0]|labelize }}</label>

            <div class="controls">
              <input type="text" class="input-xlarge" id="input-{{ row[0] }}" value="{{ get(row[0]) }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input-{{ row[1] }}">{{ row[1]|labelize }}</label>

            <div class="controls">
              <input type="text" class="input-xlarge" id="input-{{ row[1] }}" value="{{ get(row[1]) }}">
            </div>
          </div>

        {% endif %}
      {% endfor %}
    </fieldset>
  {% endfor %}
</form>
