{% macro render_field(field) %}
  <div class="control-group">
    {% if field.errors %}
      {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
      {{ field.label }}
      {{ field(class=css_class, **kwargs) }}
      <ul class="errors">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
    {% else %}
      <label class="control-label" for="input-{{ field.name }}">{{ field.label }}</label>
      <div class="controls">
        {{ field(**kwargs) }}
      </div>
    {% endif %}
  </div>
{% endmacro %}

<form action="{{ request.path }}" method="POST" class="form-horizontal">
  {{ form.csrf }}

  {% for label, field_names in form._groups %}
    <legend>{{ label }}</legend>

    <fieldset>
      {% for field_name in field_names %}
        {{ render_field(form[field_name]) }}
      {% endfor %}
    </fieldset>
  {% endfor %}

  <div class="form-actions">
    {% if for_new %}
      <button type="submit" class="btn btn-primary">Add new</button>
      <button type="submit" class="btn">Cancel</button>
    {% else %}
      <button type="submit" class="btn btn-primary">Save changes</button>
      <button type="submit" class="btn">Cancel</button>
    {% endif %}
  </div>

</form>
