{% extends "dm/base.html" %}

{% from "macros.html" import m_audit_log %}

{% block main %}

  <div style="width: 74%; position: relative; float: left;">

    <h2>{{ file.name }}</h2>


    <h3 class="main">Preview</h3>

    <div class="preview">
      <img src="{{ file.url }}/preview" class="preview" data-page="0">

      <div class="preview-nav">
        <a class="preview-prev" title="Previous image">Previous image</a>
        <a class="preview-next" title="Next image">Next image</a>
      </div>
    </div>

    <div class="collapsable">
      <h3 class="main">Properties</h3>

      <div>
        <p>
          File name: {{ file.name }}
        </p>

        <p>
          Size: {{ file.size|filesizeformat }}
        </p>

        <p>
          MIME Type: {{ file.mime_type }}
        </p>
      </div>

      {% if file.extra_metadata %}
        <h3 class="main">Extra Metadata</h3>
        <div>
          {% for k, v in file.extra_metadata|dictsort %}
            <p>
              {{ k }}: {{ v }}
            </p>
          {% endfor %}
        </div>
      {% endif %}

      <h3 class="main">Tags</h3>
      <div>
        <p>
          <input class="tagbox" value="{{ file.tags }}">
        </p>
      </div>

      <h3 class="main">Dates</h3>
      <div>
        <p>
          Created on: {{ file.created_at|date_age }}
        </p>

        <p>
          Last modified on: {{ file.modified_at|date_age }}
        </p>
      </div>

      <h3 class="main">People</h3>

      <div>
        <p>
          Creator: <a href="{{ file.creator._url }}"><img src="{{ file.creator._url }}/mugshot?s=16">
          {{ file.creator }}</a>
        </p>

        <p>
          Owner: <a href="{{ file.owner._url }}"><img src="{{ file.owner._url }}/mugshot?s=16">
          {{ file.owner }}</a>
        </p>
      </div>

      {{ m_audit_log(audit_entries) }}

    </div>

  </div>

  <div style="width: 24%; position: relative; float: right;">

    <div class="well" style="padding: 8px 0;">

      <ul class="nav nav-list">
        <li class="nav-header">Actions</li>
        <li><a href="{{ file.url }}/download"><i class="icon-eye-open"></i> View in browser</a></li>

        <li><a href="{{ file.url }}/download?attach=true"><i class="icon-download"></i> Download</a></li>
        <li><a href="#upload-new-version" data-toggle="modal"><i class="icon-upload"></i> Upload new version</a></li>
        <li><a href="#send-by-email" data-toggle="modal"><i class="icon-envelope"></i> Email</a></li>
        <li><a href="#delete" data-toggle="modal"><i class="icon-trash"></i> Delete</a></li>
      </ul>
    </div>

  </div>

  <!-- modal stuff -->

  <div class="modal fade" id="upload-new-version">
    <form id="fileupload" action="{{ file.url }}" method="POST" enctype="multipart/form-data" style="margin-bottom: 0;">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Upload new version</h3>
      </div>
      <div class="modal-body">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
          <div class="span7">
            <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
          <input type="file" name="file" class="hide">
        </span>
            <button type="submit" class="btn btn-primary start">
              <i class="icon-upload icon-white"></i>
              <span>Start upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
              <i class="icon-ban-circle icon-white"></i>
              <span>Cancel upload</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn">Cancel</button>
        <button class="btn btn-primary" type="submit">Save changes</button>
      </div>
    </form>
  </div>

  <div class="modal fade" id="send-by-email">
    <form action="{{ file.url }}/send" method="POST" style="margin-bottom: 0;">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Send by email</h3>
      </div>
      <div class="modal-body">
        <div class="input-prepend">
          <label>Recipient</label>
          <span class="add-on">@</span>
          <input class="span3" id="prependedInput" type="text" name="feedEmail">
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn">Cancel</button>
        <button class="btn btn-primary" type="submit">Send</button>
      </div>
    </form>
  </div>

  <div class="modal fade" id="delete">
    <form action="{{ file.url }}/delete" method="POST" style="margin-bottom: 0;">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Delete File</h3>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the file {{ file.name }} ?
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Really Delete</button>
      </div>
    </form>
  </div>

  <script>
    $(document).ready(function() {
      var imgSrc = $("img.preview").attr("src");

      var previewNav = $(".preview-nav");
      var previewPrev = $('.preview-prev');
      var previewNext = $('.preview-next');

      function showNav() {
        $(document).bind("keydown", keyDown);
        previewNav.stop().fadeTo(150, 1);
      }

      function hideNav() {
        $(document).unbind("keydown", keyDown);
        previewNav.stop().fadeTo(150, 0);
      }

      $("div.preview").hover(showNav, hideNav);

      // TODO: what if we want to go past the last page?
      function loadNext() {
        var img = $("img.preview");
        var page = img.data("page") + 1;
        img.attr("src", imgSrc + "?page=" + page);
        img.data("page", page);
        return true;
      }

      function loadPrev() {
        var img = $("img.preview");
        var page = img.data("page") - 1;
        if (page < 0) {
          page = 0;
        }
        img.attr("src", imgSrc + "?page=" + page);
        img.data("page", page);
        return true;
      }

      previewNext.click(loadNext);

      previewPrev.click(loadPrev);

      function keyDown(e) {
        var code = e.keyCode;
        // Note: we prevent default keyboard action
        if (code == 39) {
          loadNext();
          return false;
        } else if (code == 37) {
          loadPrev();
          return false;
        }
        return true;
      }
    });
  </script>

{% endblock %}