{% extends "base.html" %}
{% from "macros.html" import m_breadcrumbs, m_recent_items %}

{% block container %}

<ul class="nav nav-tabs">
  {% for module in g.modules %}
    <li {% if module.is_current() %}class="active"{% endif %}>
      <a href="{{ module.url }}/"><img src="/static/icons/{{ module.id }}-12.png">
        {{ module.label }}</a>
    </li>
  {% endfor %}
</ul>

<div class="row">
  <div class="span2">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown">
        Create new...
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu"> <!-- TODO: un-hardcode this -->
        <li><a href="/crm/leads/new">Lead</a></li>
        <li><a href="/crm/opportunities/new">Opportunity</a></li>
        <li><a href="/crm/contacts/new">Contact</a></li>
        <li><a href="/crm/accounts/new">Account</a></li>
        <li><a href="/crm/documents/new">Document</a></li>
        <!-- dropdown menu links -->
      </ul>
    </div>

    <div>&nbsp;</div>

    {{ m_recent_items(g.recent_items) }}
  </div><!-- /span2 -->

  <div class="span10">

    {{ m_breadcrumbs(breadcrumbs) }}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-block alert-{{category}}">
            <a class="close" data-dismiss="alert">&times;</a>
            {{message}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block main %}
    {% endblock %}
  </div>
  <!--/span-->
</div>
<!--/row-->

{% endblock %}