{% extends "base.html" %}

{% block container %}

  <div class="row">
    <div class="span2">

      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">{{ _("Main") }}</li>
          <li><a href="/social/">{{ _("My feed") }}</a></li>
          <!--
          <li><a href="/social/private/">{{ _("Private messages") }}</a></li>
          -->
          <li><a href="{{ g.user.url }}">{{ _("My profile") }}</a></li>

          <li class="nav-header">{{ _("Groups") }}</li>
          <li><a href="/social/groups/">{{ _("All groups") }}</a></li>
          {% for group in g.groups %}
            <li><a href="{{ group.url }}">{{ group.name }}</a></li>
          {% endfor %}

          <li class="nav-header">{{ _("People") }}</li>
          <li><a href="/social/users/">{{ _("Everyone") }}</a></li>
          <li><a href="/social/users/">{{ _("My followees") }}</a></li>
          <li><a href="/social/users/">{{ _("My followers") }}</a></li>

          <li class="nav-header">{{ _("Apps") }}</li>
          <li><a href="/social/">{{ _("Files") }}</a></li>
          <li><a href="/social/">...</a></li>
        </ul>
      </div>

    </div>

    {% block main %}
    {% endblock %}
  </div>

{% endblock %}