{% extends "social/base.html" %}

{% block main %}
  <div class="span7">

    <div class="header">
      <img class="avatar avatar-large" src="{{ group.url }}/mugshot?s=140">

      <div class="info">
        <h2 class="title">{{ group.name }}</h2>

        <div class="job-title">{{ group.description }}</div>

        <form action="" method="post" style="margin-top: 10px;">
          {% if g.user.is_member_of(group) %}
            <button class="btn" name="action" value="leave">{{ _("Leave") }}</button>
          {% else %}
            <button class="btn" name="action" value="join">{{ _("Join") }}</button>
          {% endif %}
        </form>
      </div>
    </div>

    <ul class="nav nav-tabs clear">
      {% for tab in tabs %}
        {% if tab.id == active_tab_id %}
          <li class="active"><a href="{{ tab.link }}">{{ _(tab.label) }}</a></li>
        {% else %}
          <li><a href="{{ tab.link }}">{{ _(tab.label) }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>

  <div class="span3">
    {% if g.user.is_admin_of(group) %}
      admin...
    {% endif %}

    <h3>{{ _("Group admins") }}</h3>

    {% for user in group.admins %}
      <a href="{{ user.url }}"><img class="avatar-medium" src="{{ user.url }}/mugshot?s=40"
              alt="{{ user.name }}" title="{{ user.name }}" style="margin-bottom: 4px;"></a>
    {% endfor %}

    <h3>{{ _("Group members") }}</h3>

    {% for user in group.members %}
      <a href="{{ user.url }}"><img class="avatar-medium" src="{{ user.url }}/mugshot?s=40"
              alt="{{ user.name }}" title="{{ user.name }}" style="margin-bottom: 4px;"></a>
    {% endfor %}

  </div>

{% endblock %}