{% extends "social/base.html" %}

{% block main %}

  <div class="span10">
    <h2>{{ _("Groups Directory") }}</h2>

    <div class="row">

      <div class="span7">

        <table class="grid" cellspacing="0" cellpadding="0">
          <thead>
          <tr>
            <th class="first " colspan="2">
              <a href="?sort_by=name">Groups</a>
            </th>

            <th class="">
              <a href="?sort_by=date_created">Created On</a>
            </th>

            <th class="">
              <a href="?sort_by=last_active">Members</a>
            </th>
          </tr>
          </thead>

          <tbody>

          {% for group in groups %}
            <tr>
              <td class="picture">
                <a href="{{ group.url }}"><img src="/static/img/tux45.png"></a>
              </td>

              <td class="identity">
                <div class="info">
                  <a href="{{ group.url }}">{{ group.name }}</a>

                  <p>{{ group.description }}</p>
                </div>
              </td>

              <td>
                Jan 11, 2012
              </td>

              <td>
                238
              </td>
            </tr>
          {% endfor %}


          </tbody>
        </table>
      </div>

      <div class="span3">
        <a class="btn btl-large btn-primary span2" href="/social/groups/new">{{ _("Create new group") }}</a>

        <div style="clear: both; margin-top: 40px;"></div>

        <div class="tip">
          <h4>What are Groups? </h4>

          <p>
            Create and join groups to discuss projects or to meet colleagues with similar skills, interests and hobbies.
            Public groups are open to anyone and appear in the groups directory. Private groups are invitation-only
            spaces for confidential discussions, and do not appear in the groups directory. </p>
        </div>
      </div>

    </div>

  </div>

{% endblock %}