{% extends "social/base.html" %}

{% from "social/macros.html" import render_message %}

{% block main %}
  <div class="span7">

    <h2>{{ _("Share an update") }}</h2>

    <form action="" method="POST">
      <textarea class="span7" name="content" id="share-textarea" rows="3" style="resize: none;"></textarea>
      <br>
      <button type="submit" class="btn btn-primary">{{ _("Share") }}</button>
    </form>

    <h2>{{ _("Your feed") }}</h2>

    <ul style="list-style: none; margin: 0px;">

      {% for message in messages %}
        {{ render_message(message) }}
      {% endfor %}

    </ul>

  </div>

  <div class="span3">
    <h3>{{ _("Latest visitors") }} ({{ active_visitors_count }} {{ _("active") }})</h3>

    <ul style="margin: 0;">
      {% for user in latest_visitors %}
      <li style="list-style: none;"><a href="{{ user.url }}"><img
              src="{{ user.url }}/mugshot?s=20" style="margin: 2px;"> {{ user.name }}</a>
      {% if user.is_active %}<img src="/static/img/greendot.png">{% endif %}
      </li>
      {% endfor %}
    </ul>

    <h3>{{ _("Trending topics") }}</h3>

    <p>...</p>

  </div>

{% endblock %}