{% extends "users/base.html" %}

{% block main %}

  <h2>Users</h2>

  <table class="grid" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th class="first " colspan="2">
        <a href="?sort_by=name">Users</a>
      </th>

      <th class="">
        <a href="?sort_by=date_created">Joined On</a>
      </th>

      <th class="">
        <a href="?sort_by=last_active">Last Active</a>
      </th>
    </tr>
    </thead>

    <tbody>

    {% for user in users %}
    <tr>
      <td class="picture">
        <a href="{{ user._url }}"><img src="{{ user._url }}/mugshot?s=45"></a>
      </td>

      <td class="identity">
        <div class="info">
          <a href="{{ user._url }}">{{ user.name }}</a>
          <p>{{ user.job_title }}</p>
        </div>
      </td>

      <td>
        Jan 11, 2012
      </td>

      <td>
        Jan 11, 2012
      </td>
    </tr>
    {% endfor %}

    </tbody>
  </table>

{% endblock %}